// Fonts
$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$italicsFont: 'Bona nova', serif;

// Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #5e311e;
$secondary: #c39c63;
$black: #000000;
$white: #ffffff;
$lightGrey: #eceeef;
$lightCoffee: #ebe7de;

// Unities
$divider: 5rem;